# Build artifacts
tests/tokenizer_test
tests/tokenizer_ext_test
tests/fast_parser_test
libshellsplit.a
fuzz/tokenizer_fuzzer
tests/generator_test
# logs
tests/generator_crashes.log
# Object files
*.o
.cache
compile_commands.json
# Coverage files
*.gcda
*.gcno
*.gcov
*.gcov.html
*.func-c.html
*.func.html
tests/*.gcda
tests/*.gcno
tests/*.gcov.html
tests/*.func-c.html
tests/*.func.html
tests/index-*.html
